services:
  # Keycloak - Service d'authentification et d'autorisation
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    command: start-dev --import-realm
    ports:
      - "8080:8080" # Port exposé pour accéder à Keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HEALTH_ENABLED=true
    volumes:
      - ./Keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    networks:
      - internal-network

  # Frontend Blazor WebAssembly
  client:
    build:
      context: .
      dockerfile: BlazorGame.Client/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - internal-network

  # Gateway API (point d'entrée pour les services backend)
  gateway:
    build:
      context: .
      dockerfile: BlazorGame.Gateway/Dockerfile
    ports:
      - "5000:5000" # Port exposé pour la gateway
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - CLIENT_SERVICE_URL=http://client:80
    depends_on:
      - client
      - auth-service
      - core-service
      - keycloak
    networks:
      - internal-network

  # Service d'authentification
  auth-service:
    build:
      context: .
      dockerfile: AuthenticationServices/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - keycloak
    networks:
      - internal-network
    # Pas de port exposé publiquement, seulement accessible via la gateway

  # Service principal du jeu
  core-service:
    build:
      context: .
      dockerfile: BlazorGame.Core/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - internal-network
    # Pas de port exposé publiquement, seulement accessible via la gateway

networks:
  internal-network:
    driver: bridge
