.header {
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
}

.page-main {
    min-height: 100vh;
}

.page-main-content {
    padding-top: 5rem;
    min-height: calc(100vh - 5rem);
}