@inherits LayoutComponentBase

@* Composant MainLayout pour le layout de l'app. Il sert de wrapper pour toutes les pages. *@

<div class="page-main">
        <Header />
        <main class="page-main-content">
            @Body
        </main>
</div>