@* Composant Header pour le header de la page *@

<header class="header px-8 py-2 flex justify-between items-center bg-black border-b border-white/10">
    <NavLink href="/" class="flex items-center gap-4 opacity-90 hover:opacity-100 transition-opacity">
        <img src="/media/logo.png" alt="Logo" class="h-11 w-auto" />
        <img src="/media/title.png" alt="BlazorGameQuest" class="h-11 w-auto mt-1" />
    </NavLink>
    <div class="flex items-center gap-8">
        <nav class="flex gap-8">
            <NavLink href="/new-adventure" class="text-white opacity-80 hover:opacity-100 transition-opacity">Jouer</NavLink>
            <NavLink href="/classement" class="text-white opacity-80 hover:opacity-100 transition-opacity">Classement</NavLink>
        </nav>
        <UserMenu />
    </div>
</header>
