@inherits ComponentBase

@* Composant UserMenu pour le menu utilisateur, quand on clique sur l'icon de l'utilisateur *@

<div class="user-menu relative" @onclick:stopPropagation>
    <button @onclick="ToggleUserMenu" class="hover:opacity-100">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
    </button>
    
    @if (_isUserMenuOpen)
    {
            <div class="py-2 user-menu-dropdown">
                <a href="/nouvelle-aventure" class="block px-4 py-2 text-white hover:bg-white/10">
                    Jouer
                </a>
                <a href="/compte" class="block px-4 py-2 text-white hover:bg-white/10">
                    Mon Compte
                </a>
                <a href="/historique" class="block px-4 py-2 text-white hover:bg-white/10">
                    Mon Historique
                </a>
                <a href="/admin" class="block px-4 py-2 text-white hover:bg-white/10">
                    Administration
                </a>
            </div>
    }
</div>

@code {
    private bool _isUserMenuOpen;

    private void ToggleUserMenu()
    {
        _isUserMenuOpen = !_isUserMenuOpen;
    }

    [JSInvokable]
    public void CloseUserMenu()
    {
        _isUserMenuOpen = false;
        StateHasChanged();
    }
}
