@page "/new-adventure"

<PageTitle>Nouvelle Aventure</PageTitle>

<div class="background-container">
    <div class="content-container">
        @if (_isLoading)
        {
            <LoadingScreen OnContinueClick="StartAdventure" />
        }
        else if (!_gameStarted)
        {
            <GameRules IsLoading="@_isLoading" OnStartGameClick="StartGame" />
        }
        else
        {
            <GameRoom />
        }
    </div>
</div>

@code {
    private bool _gameStarted;
    private bool _isLoading;

    private void StartGame()
    {
        _isLoading = true;
    }

    private void StartAdventure()
    {
        _isLoading = false;
        _gameStarted = true;
    }
}